language: python
python:
  - "2.6"
  - "2.7"
services:
  - mongodb

env:
  - TRAVIS=True
  - MONGO_DB_URI=127.0.0.1
  - MONGO_DB_PORT=27017

install: "pip install -r requirements.txt"
script: nosetests
